.banner {
    background-image: url(../../assets/img/constru5.png);
    background-repeat: no-repeat;
    background-size: 120%;
    height: 670px;
    padding: 1px;
    border-bottom: 10px solid yellow;

}