.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    border-bottom: 10px solid yellow;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.header .h1-header {
    color: #cbdad5;
    font-size: 50px;
    font-family: 'Righteous', sans-serif;
    font-weight: 500;
    padding-top: 15px;
    text-shadow: 5px 5px 3px #000;
}


